# Cartelle di compilazione e file temporanei da ignorare

# .NET / Visual Studio
bin/
obj/
publish/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.rsuser
*.sln.docstates

# IIS Express
applicationhost.config

# Publish profile locali
*.pubxml.user

# VS Code
.vscode/

# Log
*.log